<div style="background-color: black; color: white">
    <h1>SmallFluffy Auditive Gallers Installers</h1>
    <img src="img/auditivegallery.png" style="width:50%"/>
    <ul>
        <li><a href="javascript:(()=>{textPopup('Payment required', 'Please make a payment of at least $999.99 to access AuditiveGallery Pro!', [{text: `I don't have any money.`, handler: (callback) => callback(true)}])})()">AuditiveGallery Pro 5.4.3</a></li>
        <li><a href="javascript:(()=>{textPopup('Payment required', 'Please make a payment of at least $999.99 to access AuditiveGallery Pro!', [{text: `I don't have any money.`, handler: (callback) => callback(true)}])})()">AuditiveGallery Pro 5.4.2</a></li>
        <li><a href="javascript:(()=>{textPopup('Payment required', 'Please make a payment of at least $999.99 to access AuditiveGallery Pro!', [{text: `I don't have any money.`, handler: (callback) => callback(true)}])})()">AuditiveGallery Pro 5.4.1</a></li>
        <li><a href="javascript:(()=>{textPopup('Payment required', 'Please make a payment of at least $999.99 to access AuditiveGallery Pro!', [{text: `I don't have any money.`, handler: (callback) => callback(true)}])})()">AuditiveGallery Pro 5.4.0</a></li>
        <li><a href="javascript:(()=>{textPopup('Payment required', 'Please make a payment of at least $999.99 to access AuditiveGallery Pro!', [{text: `I don't have any money.`, handler: (callback) => callback(true)}])})()">AuditiveGallery Pro 5.3.7</a></li>
        <li><a href="javascript:(()=>{textPopup('Payment required', 'Please make a payment of at least $999.99 to access AuditiveGallery Pro!', [{text: `I don't have any money.`, handler: (callback) => callback(true)}])})()">AuditiveGallery Pro 5.3.6</a></li>
        <li><a href="javascript:(()=>{textPopup('Payment required', 'Please make a payment of at least $999.99 to access AuditiveGallery Pro!', [{text: `I don't have any money.`, handler: (callback) => callback(true)}])})()">AuditiveGallery Pro 5.3.3</a></li>
        <li><a href="javascript:(()=>{textPopup('Payment required', 'Please make a payment of at least $999.99 to access AuditiveGallery Pro!', [{text: `I don't have any money.`, handler: (callback) => callback(true)}])})()">AuditiveGallery Pro 5.2.1</a></li>
        <li><a href="javascript:download('auditiveGalleryCommunity')">AuditiveGallery Community 5.4.3</a></li>
        <li><a href="javascript:download('auditiveGalleryCommunity')">AuditiveGallery Community 5.4.2</a></li>
        <li><a href="javascript:download('auditiveGalleryCommunity')">AuditiveGallery Community 5.4.1</a></li>
        <li><a href="javascript:download('auditiveGalleryCommunity')">AuditiveGallery Community 5.4.0</a></li>
        <li><a href="javascript:download('auditiveGalleryCommunity')">AuditiveGallery Community 5.3.7</a></li>
        <li><a href="javascript:download('auditiveGalleryCommunity')">AuditiveGallery Community 5.3.6</a></li>
        <li><a href="javascript:download('auditiveGalleryCommunity')">AuditiveGallery Community 5.3.3</a></li>
        <li><a href="javascript:download('auditiveGalleryCommunity')">AuditiveGallery Community 5.2.1</a></li>
    </ul>
    <p>Copyright (C) SmallFluffy Inc.</p>
</div>