<div style="background-color: black; color: white">
    <h1>Comma Web Installers</h1>
    <img src="img/commaweb.png" style="width:50%"/>
    <ul>
        <li><a href="javascript:download('commaWebRuntime1')">Comma Web Runtime Installer 6.0.3</a></li>
        <li><a href="javascript:download('commaWebRuntime1')">Comma Web Runtime Installer 5.0.2</a></li>
        <li><a href="javascript:download('commaWebRuntime1')">Comma Web Runtime Installer 4.0.1</a></li>
        <li><a href="javascript:download('commaWebRuntime3')">Comma Web Runtime Installer 3.0.4</a></li>
        <li><a href="javascript:download('commaWebRuntime1')">Comma Web Runtime Installer 2.4.7</a></li>
        <li><a href="javascript:download('commaWebRuntime1')">Comma Web Runtime Installer 2.0.6</a></li>
        <li><a href="javascript:download('commaWebRuntime1')">Comma Web Runtime Installer 1.1.3</a></li>
        <li><a href="javascript:download('commaWebRuntime1')">Comma Web Runtime Installer 1.0.1</a></li>
        <li><a href="javascript:download('commaWebDevelopmentKit6')">Comma Web Development Kit 6.0.3</a></li>
        <li><a href="javascript:download('commaWebDevelopmentKit1')">Comma Web Development Kit 5.0.2</a></li>
        <li><a href="javascript:download('commaWebDevelopmentKit1')">Comma Web Development Kit 4.0.1</a></li>
        <li><a href="javascript:download('commaWebDevelopmentKit1')">Comma Web Development Kit 3.0.4</a></li>
        <li><a href="javascript:download('commaWebDevelopmentKit1')">Comma Web Development Kit 2.4.7</a></li>
        <li><a href="javascript:download('commaWebDevelopmentKit1')">Comma Web Development Kit 2.0.6</a></li>
        <li><a href="javascript:download('commaWebDevelopmentKit1')">Comma Web Development Kit 1.1.3</a></li>
        <li><a href="javascript:download('commaWebDevelopmentKit1')">Comma Web Development Kit 1.0.1</a></li>
    </ul>
    <p>Copyright (C) SmallFluffy Inc.</p>
</div>