<div>
    <h1>Doors API Downloads</h1>
    <img src="img/doorsapi.png" style="width:50%"/>
    <a href="javascript:download('doorsAPI')">Latest version</a>
    <p>Copyright (C) SmallFluffy Inc.</p>
</div>