<div style="background-color: black; color: white">
    <h1 style="background-image: url('img/uelogo.png'); background-size: cover; height: 10em;">Register</h1>
    <p>
        Please fill out the form below to register
    </p> 
    <p>Username<input></p>
    <p>Full Legal Name<input /></p>
    <p>Email address<input /></p>
    <p>Physical address<input></p>
    <p>Gender<input></p>
    <p>Date of Birth<input></p>
    <p>Favourite food<input></p>
    <p>SSN<input></p>
    <p>Credit Card Number<input></p>
    <p>CVC<input></p>
    <p>Workplace Profile<input></p>
    <p>Dating Profile(s)<input></p>
    <p>Years of experience<input></p>
    <p>I accept the Terms of Service (if not accepted a full 617 page printout will be sent to your address at your cost)<input type="checkbox" /></p>
    <p>I pledege my firstborn child to your company<input type="checkbox" /></p>
    <p><button onclick="getEmail('UnbelievableEngine', 'Registration confirmation for UnbelievableEngine', 'Click here to confirm your registration to <a href=\'javascript:confirmRegistration()\'>UnbelievableEngine</a>'); textPopup('Registration', 'Please click the link in your email to complete your registration!')">Register</button></p>
</div>