<div>
    <h1>SmallFluffy Products Page</h1>
    <img style="width: 70%; margin:auto" src="img/smallfluffy.png"/>
    <p>Welcome to the Small Fluffy Products page! Here you can find all products of SmallFluffy Inc.</p>
    <p><a href="javascript:switchWebpage('auditiveGallery')">Auditive Gallery</a></p>
    <p><a href="javascript:switchWebpage('doorsAPI')">Doors API</a></p>
    <p><a href="javascript:switchWebpage('commaWeb')">commaWeb</a></p>
    <p>Copyright (C) SmallFluffy Inc.</p>
</div>