<div style="background-color: black; color: white">
    <h1 style="background-image: url('img/uelogo.png'); background-size: cover; min-height: 10em;">UnbelievableEngine V Install page</h1>
    <p>
        Thank you for choosing Unbelievalbe Engine V!
        Unbelieveable Engine V is the latest Unbelievable Engine, with amazing features, photorealistic graphics, ray tracing, tessalation, 16K textures, and all the other goodies we could think of!
        In order to install the engine, please follow the steps below:
    </p> 
    <p><ul>
        <li><a href="javascript:download('unbelievableEngineUpdaterInstaller')">Download the installer</a></li>
        <li><a href="javascript:switchWebpage('register')">Register an account</a></li>
        <li>Follow the instructions in the installer</li>
        <li>Install requirements as instructed by the installer from the <a href="javascript:switchWebpage('smallFluffy')">SmallFluffy Website</a></li>
    </ul>
</div>