body {
    display: grid;
    grid-template-rows: auto 3.5em;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    font-family: sans-serif;
}

#pet {
    grid-row: 1;
    grid-column: 1;
    justify-content: end;
    align-self: end;
    display:grid;
    right: 2em;
    bottom: 3em;
}

#pet > * {
    width: 10em;
    grid-column: 1;
    grid-row: 1;
}

#cat_head {
    animation: headbop 3s infinite;
    animation-timing-function: linear;
}

/* The animation code */
@keyframes headbop {
    0%   {transform: rotate(0deg);}
    5%  {transform: rotate(5deg);}
    10%  {transform: rotate(10deg);}
    15% {transform: rotate(20deg);}
    20% {transform: rotate(25deg);}
    25% {transform: rotate(30deg);}
    30% {transform: rotate(25deg);}
    35% {transform: rotate(20deg);}
    40% {transform: rotate(10deg);}
    45% {transform: rotate(5deg);}
    50% {transform: rotate(0deg);}
    55%  {transform: rotate(-5deg);}
    60%  {transform: rotate(-10deg);}
    65% {transform: rotate(-20deg);}
    70% {transform: rotate(-25deg);}
    75% {transform: rotate(-30deg);}
    80% {transform: rotate(-25deg);}
    85% {transform: rotate(-20deg);}
    90% {transform: rotate(-10deg);}
    95% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}

#deletedFileList {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1em;
    width: 100%;
}

.contextMenu {
    position: fixed;
    z-index: 100;
    display: grid;
    grid-template-rows: 2em;
    min-width: 5em;
    border: 1px solid black;
    background-color: white;
}

.selectedFile {
    background-color: #7af;
}

.browserHeader {
    background-color: #404040;
    color: #ffffff;
    width: 100%;
    display:block;
}

#desktop > div {
    width: 4em;
}

#desktop > div > img {
    margin-top: 0.5em;
    margin-left: 0.5em;
    height: 2.5em;
    width: 2.5em;
    border-radius: 20%;
    grid-row: 1;
    overflow: hidden;
}

#desktop > div {
    text-align: center;
}

#desktop {
    display: block;
    grid-row: 1;
    grid-column: 1;
    background-color: #000000;
    color: white;
}

.background {
    background-image: url('img/background.png');
    background-size: 100%;
    background-position: 50%;
    background-repeat: repeat-x;
}

#taskbar {
    display: grid;
    background-color: #202020;
    grid-template-columns: 3em repeat(minmax(min-content, 2.5em));
    grid-auto-columns: minmax(min-content, 3em);
    column-gap: 0.5em;
}

#taskbar > div:first-child {
    background-color: aquamarine;
    height: 3em;
    width: 3em;
    margin-top: 0.25em;
    margin-left: 0.25em;
    margin-right: 0.5em;
    border-radius: 20%;
    grid-row: 1;
}

#taskbar > div {
    background-color: aquamarine;
    margin-top: 0.5em;
    height: 2.5em;
    width: 2.5em;
    border-radius: 20%;
    grid-row: 1;
    overflow: hidden;
}

#taskbar > div:hover {
    animation-name: hover;
    animation-duration: 0.25s;
    box-shadow: 0px 0px 4px 4px white;
}

#taskbar > div > img {
    width: 100%;
}

.window > .header{
    display: grid;
    grid-template-columns: auto 1.5em;
    background-color: #303030;
    color: white;
    overflow-y: hidden;
    padding: 0.5em;
}

.closeButton {
    background-color: #990000;
    color: #ffffff;
    border-radius: 10%;
    text-align: center;
    margin: 0.2em;
    font-family: sans-serif;
}

.window {
    display: grid;
    position: fixed;
    background-color: white;
    grid-template-rows: 2em calc(100% - 2em);
    border: 1px solid black;
    border-radius: 0.25em;
}

.window > *{
    max-height: 100%;
    overflow-y: scroll;
}

.Browser > h1 {
    background-color: aquamarine;
}

.Browser > div {
    width: 100%;
    display: inline-block;
}

.emailApp{
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 3em auto;
}

.emailHeader {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    background-color: #d0d0d0;
}

.messagesArea {
    grid-column: 1;
    grid-row: 2;
    overflow-y: scroll;
    border-right: 1px solid #404040;
}

.messagesArea > div {
    border-bottom: 1px solid #404040;
    background-color: #7af;
}

.messagesArea > div :first-child {
    color: blue;
}

.emailApp > div {
    height: 100%;
}

.readerArea :first-child {
    margin-bottom: 2em;
    border-bottom: 1px solid black;
}

.fsWindow {
    overflow-y: scroll;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fsObject {
    margin-left: 1em;
    margin: 0.25em;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    max-width: 100%;
}

.customCursor {
    cursor: url('img/cursor.png'), auto;
}

.fsObject > img {
    border-radius: 2em;
}

.filesHeader {
    grid-column: span 4;
    background-color: #404040;
    color: #ffffff;
}

.fsObject>img{
    width: 6em;
}

.hidden {
    display:none !important;
}

#windowGroup {
    z-index: 2;
    position: fixed;
}


/* The animation code */
@keyframes blink {
    0%   {background-color: #ffd000;}
    10%  {background-color: #505050;}
    20%  {background-color: #ffd000;}
    30% {background-color: #505050;}
    40% {background-color: #ffd000;}
    50% {background-color: #505050;}
    60% {background-color: #ffd000;}
    70% {background-color: #505050;}
    80% {background-color: #ffd000;}
    90% {background-color: #505050;}
    100% {background-color: #ffd000;}
}

@keyframes hover {
    0%   {box-shadow: 0px 0px 0px 0px white;}
    100% {box-shadow: 0px 0px 4px 4px white;}
}

.activeWindow > .header {
    background-color: #505050;
}

.noisyWindow > .header {
    animation-name: blink;
    animation-duration: 3s;
}